# Assignment 1

You are given the following int variable _x1_

In [ ]:
x1 = 3286
x1

**1**- Complete the code below to transform _x1_ into a string *x1_str*. Extract the four digits and compute *x1_reverse* by taking the digits of _x1_ backward. *x1_reverse* should be an **integer** equal to 6823

In [ ]:
x1_str  = str(x1)
digit_1 = x1_str[0]
digit_2 = x1_str[1]
digit_3 = x1_str[2]
digit_4 = x1_str[3]

x1_reverse = int(digit_4+digit_3+digit_2+digit_1)

print("first digit = %s, second = %s, third = %s, fourth = %s" % (digit_1, digit_2, digit_3, digit_4))
print("the reverse number of x1 =", x1_reverse)

**2**- Write a function that takes as input a number with any given length and returns its reversed one.     
For example: `reverse_number(274) = 472, reverse_number(15739) = 93751`.   
**Hint** You can use negative indexing. For example: `"ABCD"[-1] = D`

In [ ]:
def reverse_number(x):
    i = 1
    x_str = str(x)
    y=""
    
    while i <= len(x_str):
        y += x_str[-i]
        i += 1
    return int(y)

print(reverse_number(472))
print(reverse_number(15739))

A **palindromic** number or numeral palindrome is a number that remains the same when its digits are reversed, like 16461. See [wikipedia](https://en.wikipedia.org/wiki/Palindromic_number)      
**3**- Write a function that returns _True_ when a number is palindromic and _False_ when not

In [ ]:
def is_palindromic(x):    
    if reverse_number(x) == x:
        return True
    else:
        return False

is_palindromic(16461)

**4**- Create a dictionary containing two keys:
* number: numbers between 10 and 99
* palindromic ?: a Boolean whether or not the number is palindromic or not

It should look like this: `dic = {'number': [10,11,12 ...], 'palindromic ?':[False,True,False,....]}`

In [ ]:
values=[]
palindromes=[]

for i in range(10,100):
    values.append(i)
    palindromes.append(is_palindromic(values[i-10]))


dic={'number':values, 'palindromic ?':palindromes}
print(dic)

**5**- Create a dataframe _df_ from _dic_ and print the head of _df_, its shape, and the data type of each column

In [ ]:
# your code here
import pandas as pd

df = pd.DataFrame(dic)
# head of df
df.head()

In [ ]:
# shape of df
# your code here
print(df.shape)

In [ ]:
# data type of each column

print(df.dtypes)
# your code here

**6**- How many palindromic numbers are there in _df_. **Hint**: Booleans are considered as 0, 1. For example: `sum([True, False, True]) = 2`.   
Filter _df_ to print only rows with palindromic numbers.

In [ ]:
print("Number of palindromes : %i" %sum(df["palindromic ?"]))

df[df["palindromic ?"]==True]

A [nontrivial reverse number](https://en.wikipedia.org/wiki/Reverse_divisible_number) is a either 1/4 or 1/9 of its reversal.     
For example: 1089 Ã— 9 = 9801, the reversal of 1089.    
**7**- Write a function that checks whether a number is a nontrivial reverse number. The response for the following three tests should be `True`, `False`, `False`.     
Use your function to identify all the nontrivial reverse numbers that are below 100 000. **Hint**: there are four

In [ ]:
def is_nontrivial_reverse_number(x):
    if (reverse_number(x)/9 == x) | (reverse_number(x)/4 == x):
        return True
    else:
        return False

print(is_nontrivial_reverse_number(1089))
print(is_nontrivial_reverse_number(2000))
print(is_nontrivial_reverse_number(7887))

In [ ]:
# nontrivial reverse numbers below 100 000
for i in range(0,100000):
    if is_nontrivial_reverse_number(i):
        print(str(i) +" is a nontrivial reverse number")

**8**- Read the csv file _"titanic.csv"_ into a dataframe _titanic_. Print its shape and head

In [ ]:
titanic = pd.read_csv('titanic.csv') 
print(titanic.shape)
titanic.head(5)

**9**- Print the names of titanic columns. Remove the column _"Cabin"_ and print again the names of titanic columns

In [ ]:
# print column names
print(titanic.columns)

# drop the column : "Cabin
titanic.drop(columns=['Cabin'], inplace=True)

list(titanic)

**10**- Print the number of null values for each column. Replace null values in _"Age"_ by the average age, and null values in _"Embarked"_ by the most frequent value _"S"_. Print again the number of null values for each column

In [ ]:
titanic.isna().sum()

In [ ]:
# Replace null values
titanic["Age"].fillna(titanic.loc[:,"Age"].mean(), inplace = True) 
titanic["Embarked"].fillna("S", inplace = True)

In [ ]:
# print again number of null values for each column
titanic.isna().sum()